#bread{
	background-color: black;
}

#header{
	background-color: red;
}

#footer{
	background-color: red;
}

#logoVeliava{
	max-height: : 100px;
	max-width: 100px;
	margin-left: 10px;
	margin-top: 2px;
}

#mainEntry{
	margin-top: 50px;
}

#otherEntrys{
	margin-top: 50px;
}

.newsFoto{
	max-height: 250px;
	max-width: 250px;
	margin:2px;
}

#marginTop{
	margin-top: 25px;
}

#pirmaFoto{
	width: 300px;
	height: 260px;	
	margin-top: 10px;
}

#pirmasTekstas{
	float: right;
    width: 90vh;
    margin-top: 10px;   
}

h4{
	margin-left: 40vw;
}

#antraFoto{
	width: 300px;
	height: 260px;
	float: right;	
	margin-top: 10px;
}

#godzila2{
	margin-top: 15vh;
}

#godzilaBody{
	background-image:url(https://wallpapercave.com/wp/0E4uCwI.jpg), url(http://orig11.deviantart.net/018b/f/2014/154/b/c/godzilla_concept_sketches_by_arvalis-d7kwtha.gif);
	background-repeat: no-repeat, repeat;	
}

#godzila3{
	margin-top: 400px;
}

#animeBody{
	background: black;
	background-image: url(https://wallpapercave.com/wp/Dh38yq6.jpg);
	background-repeat: no-repeat;
}

#animeH5{
	color:white;
}

#siauboAnime{
	margin-left: 60px;
}

#mygtukas{
	margin-top: 60px;
}

#newsBody{
	background-image: url(http://52.41.251.138/sites/default/files/2017-12/ramsetu_0.jpg);
}

#godzilaNews{
	margin-top: -8px;
	margin-right:-600px;
	

}

#duLinkai{
	margin-top: 320px;
}

#kovaNews{
	width: 390px;
	margin-left: 326px;
	margin-top: -12px;
}

#animeNews{
	width: 355px;
	margin-left: 115px;
	margin-top: -20px;
}

#pasiulymai{
	margin-bottom:100px;
	margin-top: 80px;
}

.carousel{
	background-color: black;
	height: 100%;
	width: 100%;	
	border-width: 50px;	
	border-style: solid;
}

#PRADEDAM{
	margin-left: 655px;
	margin-top: 200px;
}

#me{
	margin-top: 20px;
} 



.container {
    position: relative;
    text-align: center;
    color: white;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}